services:
  - type: web
    name: controlled-deadline-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    rootDir: .
    envVars:
      - key: PORT
        value: 10000
      - key: JWT_SECRET
        sync: false
      - key: MONGO_URI
        sync: false
